{
    "plugins": [
      ["module-resolver", {
        "root": ["."],
        "alias": {
          "@Styles": "./src/css",
          "@Src": "./src",
          "@Components": "./src/components",
          "@Pages": "./src/pages",
          "@Hooks": "./src/hooks",
          "@HomeLayout": "./src/Layouts/HomeContent"
        }
      }]
    ]
  }