.HomeContentContainer--main {
   position: relative;
   width: 100%;
   height: 200vh;
}
.HomeContentContainer--main__content {
   position: sticky;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   width: 100vw;
   z-index: 1;
}

.HomeContentItem__container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 80%;
   height: 50vh;
   margin: 0 auto;
   color: #fff;
}
.HomeContentItem__container--title {
   font-family: "Poppins", sans-serif;
   margin-bottom: 1em;
}
.HomeContentItem__container--title h2 {
   font-size: 34px;
   font-weight: 400;
}
.HomeContentItem__container--description {
   font-size: 0.9em;
   font-family: "Noto Sans Display", sans-serif;
   padding-bottom: 20px;
   border-bottom: 1px solid #e5e5e5;
}

.HomeContentCode__container {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: var(--sub-main-color); */
}
.HomeContentCode__container.HomeContentColor0,
.HomeContentCode__container.HomeContentColor0
   .HomeContentCode__container--buttonCopy {
   background-color: var(--sub-main-color);
}

.HomeContentCode__container.HomeContentColor1,
.HomeContentCode__container.HomeContentColor1
   .HomeContentCode__container--buttonCopy {
   background-color: var(--secondary-color-darkGreen);
}
.HomeContentCode__container.HomeContentColor2,
.HomeContentCode__container.HomeContentColor2
   .HomeContentCode__container--buttonCopy {
   background-color: var(--secondary-color-darkRed);
}
.HomeContentCode__container.HomeContentColor3,
.HomeContentCode__container.HomeContentColor3
   .HomeContentCode__container--buttonCopy {
   background-color: var(--secondary-color-darkBlue);
}
.HomeContentCode__container .HomeContentCode__container--buttonCopy {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%);
   border: none;
   text-transform: uppercase;
   padding: 3px 13px;
   padding-right: 26px;
   font-family: "Noto Sans Display", sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #fff;
   transition: 200ms ease-in-out;
   cursor: pointer;
}

.HomeContentCode__container .HomeContentCode__container--buttonCopy:hover {
   transform: translate(-50%, -50%) scale(1.1);
}
.HomeContentCode__container .HomeContentCode__container--buttonCopy:active {
   transition: 50ms ease-in-out;
   transform: translate(-50%, -50%) scale(0.9);
}
.HomeContentCode__container--code {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90%;
   height: 80%;
   background-color: #ffffff10;
}
.HomeContentCode__container--code pre {
   overflow: scroll;
   padding: 10px;
}
.HomeContentCode__container--code pre code {
   font-size: 1.2em;
   color: #fff;
}
