/* Poppins, Yaldevi, Luxurious Roman, 
Noto Sans Display, Shippori Mincho */
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Noto+Sans+Display:ital,wght@0,300;0,400;1,400&family=Poppins&family=Shippori+Mincho&family=Yaldevi&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* center all body content with flex */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 50px;
}

