:root {
   --main-color: #2b5a72;
   --sub-main-color: #213258;
   --secondary-color-green: #97b77b;
   --secondary-color-darkGreen: #e8a074;
   --secondary-color-red: #ff3377;
   --secondary-color-darkRed: #f00c5b;
   --secondary-color-blue: #f04aea;
   --secondary-color-darkBlue: #9f259a;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}
/* center all body content with flex */
body {
   background-color: #2b5a72;
   color: #fff;
   transition: 500ms;
}

body.HomeContentColor0 {
   background-color: var(--main-color);
}
body.HomeContentColor1 {
   background-color: var(--secondary-color-green);
}
body.HomeContentColor2 {
   background-color: var(--secondary-color-red);
}
body.HomeContentColor3 {
   background-color: var(--secondary-color-blue);
}

.container {
   height: 100vh;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.anchor_with--logo {
   text-decoration: none;
   color: #fff;
}

.navbar-container .anchor_with--logo .wrapping-letters--logo,
.navbar-container .wrapping-letters--logo {
   font-size: 1.5rem;
}

.wrapping-letters--logo {
   text-transform: uppercase;
   font-family: "Poppins", sans-serif;
   font-size: 2rem;
   text-decoration: none;
   color: #fff;
   border: 2px solid #fff;
   padding-left: 13px;
   padding-right: 26px;
}
