* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* center all body content with flex */
body {
    background-color: #2B5A72;
    color: #fff;
}

.container {
    height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapping-letters--logo {
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    border: 2px solid #fff;
    padding-left: 13px;
    padding-right: 26px;
}