.navbar-container {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 820px;
    padding: 8px 15px;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
    z-index: 100;
}
.navbar-container.show {
    opacity: 1;
    visibility: visible;
}
.navbar-container .navbar-container__content {
    font-size: 16px;
    font-family: "Noto Sans Display";
}
.navbar-container .navbar-container__content a{
    position: relative;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    padding: 5px 5px;
}
.navbar-container .navbar-container__content a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: 200ms ease-in-out;
}
.navbar-container .navbar-container__content a:hover::before {
    width: 100%;
}
.navbar-container .navbar-container__content div{
    position: relative;
    margin-left: 20px;
}

@media (min-width: 1024px) {
    .navbar-container {
        left: 25%;
        top: 2%;
        width: 50%;
    }
}